Button {
  font-family: "Maven Pro"; 
  font-size: 1.2rem;
  font-weight: 500;
}
 
.menu-choice {
  display: flex;
  width: 100%;
  border-radius: 4px;
}

.dark .menu-choice {
  color: #dddddd;
}

.dark .header-button {
  background-color: #343434;
}

.dark .link {
  color: #dddddd;
}

.dark .menu-choice {
  color: black;
}

.dark .my-rated-books {
  color: black;
}

.dark .add-books {
  color: black;
}

.user-email {
  font-size: 14px;
  color: grey;
}

.toggle {
  appearance: none;
  width: 65px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(141, 141, 141);
  margin-left: 8px;
  margin-top: 4px;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
}

.toggle:checked {
  background-color: #162646;
}

.toggle:after {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 32px;
  height: 26px;
  border-radius: 13px;
  content: '\2600';
  font-size: 24px;
  line-height: 22px;
  text-align: center;
  transition: left 0.4s, background-color 0.4s;
}

.toggle:checked:after {
  padding-right: 2px;
  content: '\1F315';
  left: 30px;
}

.dark .switch {
  border-radius: 4px;
}

.dark .navbar {
  background-color: #292929;
}

.dark .ibdb-text {
  color: black;
}
