img {
  border-radius: 10px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

h1 { 
  color: #4D4D4D;
  font-family: "Maven Pro"; 
  font-size: 2rem;
  font-weight: 600;
}

.dark h1 {
  color: white;
}


.card {
  width: 175px;
  margin: 20px;
}

.card :hover {
  transform: scale(1.05);
}

.conteiner {
  padding-top: 100px;
}

.header {
  display:flex;
  align-items: center;
  gap: 10px;
  margin-left: 25px;
}

.element {
  width: 8px;
  height: 50px;
  background-color: #DD7973;
  border-radius: 10px;
}

.scrollingmenu {
  display:flex;
  align-items: center;
}

/* chrome and chromium based */
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


#hpContent {
  padding-bottom: 500px;
}

