.popup-button {
    padding: 3px 6px 3px 6px;
    width: 100px;
    border-radius: 8px;
    margin-top: 8px;
    background-color: white;
    height: 48px;
}

.popup-button:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.google-button {
    display: flex;
    padding: 9px 6px 3px 24px;
    margin-top: 8px;
    width: 250px;
    border-radius: 8px;
    background-color: white;
    height: 48px;
}

.google-button:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.google-icon {
    width: 24px;
    margin-left: 12px;
    margin-top: 4px;
}

.close {
    position: fixed;
    padding: 3px 8px 3px 8px;
    border-radius: 8px;
    top: 315px;
    left: 1080px;
    background-color: white;
}




.login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
.login-close {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.login-inner {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    border-radius: 8px;
    padding: 32px;
    height: 300px;
    width: 640px;
    background-color: #F6f9FF;
}

.input {
    padding: 16px 24px 16px 24px;
    height: 60px;
    margin-top: 8px;
    width: 500px;
    background-color: white;
    border-radius: 9999px;
}

.input:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.error {
    color: red;
}