button {
    text-decoration: none;
}

.header {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.searchBar {
    height: 50px;
    width: 500px;
    font-size: 24px;
    border: none;
    border-radius: 10px;
}

.rightSection {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    margin-left: 200px;
    width: 600px;
}

.buttonStyle {
    font-size: 24px;
    text-decoration: none;
    color: black;
}
